/* PHONE */
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
    body {
        background-color: #FDF6F0;
        overflow-x: hidden;
    }

    h1 {
        font-family: 'Intro Demo', sans-serif;
        font-weight: 800;
    }

    h3 {
        font-family: 'GlacialIndifference-Bold', sans-serif;
    }

    h4 {
        font-family: 'TT Chocolates Trial Medium', sans-serif;
        font-size: 0.9rem;
    }

    header {
        z-index: 1;
    }

    #banniere_raphabrik {
        position: relative;
        width: 100%;
        height: 20rem;
        background-color: black;
    }

    #banniere_raphabrik img {
        display: block;
        margin: auto;
        padding-top: 1%;
    }

    #desktop_nav {
        display: none;
    }

    #mailto_raphabrik {
        display: none;
    }

    #phone_nav {
        list-style-type: none;
    }

    #phone_nav,
    #close_bar {
        padding: 0;
        margin: 0;
        display: flex;
        width: 100%;
        height: 10rem;
        background-color: black;
        justify-content: space-evenly;
        border-radius: 50px 50px 0px 0px;
    }

    #phone_nav li {
        width: calc(100%/3);
        margin: auto;
    }

    #phone_nav img {
        display: block;
        width: 25%;
        margin: auto;
    }

    nav {
        width: 100%;
        position: fixed;
        bottom: 0px;
        margin: 0;
    }


    #overlay_burger{
        display: none;
    }

    .closeNav{
        display: block !important;
    }

    #menu_burger {
        display: flex;
        list-style-type: none;
        width: 100%;
        position: fixed;
        top: 0;
        height: 100%;
        background-color: #FDF6F0;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    #competences,
    #portfolio,
    #parcours {
        height: calc(100%/3);
        display: flex;
        height: calc(100%/3);
        align-items: center;
        justify-content: center;
    }

    #menu_burger h1 {
        font-size: 5rem;
    }

    #menu_burger li {
        position: relative;
    }

    #menu_burger a {
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: block;
        margin: auto;
        position: relative;
    }

    #close_bar {
        z-index: 1;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    #portfolio {
        background-color: black;
    }

    .white_font {
        color: #FDF6F0;
    }

    .black_font {
        color: black;
    }






}

/* TABLET
@media screen and(min-witdh:768px)and(max-witdh:1023px) {}



/* DESKTOP */
/* @media screen and(min-witdh:1024px) {} */